<div class="recipe__image--wrapper">
  <div class="recipe__label">
    <h2>food & drink</h2>
  </div>
  <img class="recipe__image fadeIn" src="http://media.guim.co.uk/1b6bf4987a43760f54272927b10af56aa857d124/0_0_1881_2405/1564.jpg">
</div>
<div class="recipe__article--wrapper">
  <div class="recipe__article">
    <div class="recipe__article--line"></div>
    <div class="recipe__article--meta">
      <div class="recipe__article--contributor desktop" style="background-image:url('<%= path %>/assets/thomasina-miers.jpg')"></div>
      <div class="recipe__article--headline">
        <h2>rhubarb</h2>
        <h1>The weekend cook: Thomasina Miers’ recipes</h1>
      </div>
    </div>
    <div class="recipe__article--content">
      <div class="recipe__article--contributor mobile" style="background-image:url('<%= path %>/assets/thomasina-miers.jpg')"></div>
      <p>
        Mid-January is never a great time of year – the weather can be bleak and everyone’s feeling a bit broke. Comforting soups can help, but brassicas and roots do start to lose some of their appeal around about now, through overfamiliarity if nothing else.
      </p>
      <p>
        Thankfully, this is also a time when nature delivers a welcome blast of colour in the form of blood oranges and forced rhubarb, as exciting to a food lover as a new set of paints is to an artist. Rhubarb thrills me in particular, for both its flavour and its vivid, neon pink. The acidity adds a refreshing sharpness to both this week’s recipes, a sticky, meaty braise and a milky-white jelly. That pink looks especially glorious against the jellies , inspired by the bonkers multicoloured ones sold on the streets of Oaxaca City.
      </p>
      <p>
        Roast molasses pork belly with warm rhubarb pickle
        The pork cooks slowly in molasses and cider until it’s dark, treacly and succulent, and goes so well with this zingy spiced pickle. Serves six to eight.
      </p>
      <p>
        1.5kg pork belly, skin scored
        Flaky sea salt
        2 tsp fennel seeds
        ½ tsp black peppercorns
        50g molasses sugar
        3 tbsp olive oil
        3 carrots, peeled and cut into 5cm lengths
        2 celery sticks, cut into 5cm lengths
      </p>
      <p>
        500ml dry cider
        100ml water
        For the pickle
        500g rhubarb, cut into 3-4cm lengths
        70g cider vinegar
        30g caster sugar
        1-2 tsp coriander seeds, toasted and lightly bashed
      </p>
      <p>
        Heat the oven to 230C/450F/gas mark 8. Pat dry the pork skin with kitchen paper, then season the skin liberally with flaky sea salt. Line a roasting tin with two layers of foil.
      </p>
      <p>
        Warm the fennel seeds and peppercorns in a dry frying pan for a couple of minutes, then roughly grind. Add the molasses, oil and half a teaspoon of salt, and work the mixture into a rough paste. Rub this into the flesh of the pork, taking care not to get it on the skin and working it right into the layers of meat and fat. Scatter the carrots and celery in the prepared roasting tray, then lay the pork skin side up on top. Pour in the cider and water, again taking care not to get any on the skin, then roast for 10-20 minutes. Turn down the heat to 170C/335F/gas mark 3 and roast for another 90 minutes, until the flesh is tender enough to pull apart with forks.
        In the last half-hour of cooking, toss the rhubarb with the vinegar, sugar, coriander seeds and a pinch of salt. Tip the lot into an oven dish and roast alongside the pork for 15 minutes, until soft, then remove from the oven.
      </p>
      <p>
        If the pork skin needs more crackling, whack up the heat again and roast for 10-15 minutes more. Once the skin is looking crunchy and golden, leave the pork to rest somewhere warm for 15 minutes, then slice and serve with the rhubarb, drizzling over any juices from the pan, and serve with mash.
    </p>
    </div>
    <div class="recipe__article--read-more">
      <div class="circle-button"><span class="circle"><svg width="30px" height="31px" viewBox="38 2137 30 31" version="1.1"><polygon stroke="none" fill="#333333" points="51.3635908 2154.36367 51.9431342 2167.72726 54.0226726 2167.72726 54.6363069 2154.36367 67.9998976 2153.75004 67.9998976 2151.6705 54.6363069 2151.09096 54.0226726 2137.72737 51.9431342 2137.72737 51.3635908 2151.09096 38 2151.6705 38 2153.75004"></polygon></svg></span>Read more</div>
    </div>
    <div class="ad-wrapper">
      <div class="ad-container">
        <div id="dfp-ad--inline2" class="js-ad-slot ad-slot ad-slot--mpu-banner-ad ad-slot--right" data-link-name="ad slot inline2" data-test-id="ad-slot-inline2" data-name="inline2" data-mobile="1,1|2,2|300,250|fluid" data-desktop="1,1|2,2|300,250|fluid"></div>
      </div>
      <div class="ad-container--mobile">
        <div id="dfp-ad--inline12" class="js-ad-slot ad-slot ad-slot--inline ad-slot-inline12" data-link-name="ad slot inline12" data-test-id="ad-slot-inline12" data-name="inline12" data-mobile="1,1|2,2|300,250|fluid" data-desktop="1,1|2,2|300,250|fluid"></div>
      </div>
    </div>
    <div data-image-src="http://media.guim.co.uk/1b6bf4987a43760f54272927b10af56aa857d124/0_0_1881_2405/1564.jpg" class="recipe__article--structured" itemscope itemtype="http://schema.org/Recipe">
      <div class="recipe__article--structured-headline">
        <h1 itemprop="name">Roast molasses pork belly with warm rhubarb pickle</h1>
      </div>
      <div class="recipe__article--structured-meta">
        <div class="structured-meta">
          <span class="meta-circle meta-serves">12</span>serves<span class="meta-circle meta-time">3.5</span>hours
        </div>
      </div>
      <div class="recipe__article--structured-ingredients">
        <ul class="ingredients-list">
          <li class="ingredients-title">Ingredients</li>
          <li itemprop="recipeIngredient">1.5kg pork belly, skin scored</li>
          <li itemprop="recipeIngredient">Flaky sea salt</li>
          <li itemprop="recipeIngredient">2 tsp fennel seeds</li>
          <li itemprop="recipeIngredient">½ tsp black peppercorns</li>
          <li itemprop="recipeIngredient">50g molasses sugar</li>
          <li itemprop="recipeIngredient">3 tbsp olive oil</li>
          <li itemprop="recipeIngredient">3 carrots, peeled and cut into</li>
          <li itemprop="recipeIngredient">5cm lengths</li>
          <li itemprop="recipeIngredient">2 celery sticks, cut into 5cm lengths</li>
          <li itemprop="recipeIngredient">500ml dry cider</li>
          <li itemprop="recipeIngredient">100ml water</li>
        </ul>
        <ul class="ingredients-list">
          <li class="ingredients-title">For the pickle</li>
          <li>500g rhubarb, cut into 3-4cm lengths</li>
          <li>70g cider vinegar</li>
          <li>30g caster sugar</li>
          <li>1-2 tsp coriander seeds, toasted and lightly bashed</li>
        </ul>
      </div>
      <div class="recipe__article--structured-method">
        <ul class="method-list">
          <li><span class="number">1</span>Heat the oven to 230C/450F/gas mark 8. Pat dry the pork skin with kitchen paper, then season the skin liberally with flaky sea salt. Line a roasting tin with two layers of foil.</li>
          <li><span class="number">2</span>Warm the fennel seeds and peppercorns in a dry frying pan for a couple of minutes, then roughly grind. Add the molasses, oil and half a teaspoon of salt, and work the mixture into a rough paste. Rub this into the flesh of the pork, taking care not to get it on the skin and working it right into the layers of meat and fat. Scatter the carrots and celery in the prepared roasting tray, then lay the pork skin side up on top. Pour in the cider and water, again taking care not to get any on the skin, then roast for 10-20 minutes. Turn down the heat to 170C/335F/gas mark 3 and roast for another 90 minutes, until the flesh is tender enough to pull apart with forks.</li>
          <li><span class="number">3</span>In the last half-hour of cooking, toss the rhubarb with the vinegar, sugar, coriander seeds and a pinch of salt. Tip the lot into an oven dish and roast alongside the pork for 15 minutes, until soft, then remove from the oven.</li>
          <li><span class="number">4</span>If the pork skin needs more crackling, whack up the heat again and roast for 10-15 minutes more. Once the skin is looking crunchy and golden, leave the pork to rest somewhere warm for 15 minutes, then slice and serve with the rhubarb, drizzling over any juices from the pan, and serve with mash.</li>
        </ul>
      </div>
    </div>
    <div class="ad-wrapper">
      <div class="ad-container">
        <div id="dfp-ad--inline3" class="js-ad-slot ad-slot ad-slot--mpu-banner-ad ad-slot--right" data-link-name="ad slot inline3" data-test-id="ad-slot-inline3" data-name="inline3" data-mobile="1,1|2,2|300,250|fluid" data-desktop="1,1|2,2|300,250|fluid"></div>
      </div>
      <div class="ad-container--mobile">
        <div id="dfp-ad--inline13" class="js-ad-slot ad-slot ad-slot--inline ad-slot-inline13" data-link-name="ad slot inline13" data-test-id="ad-slot-inline13" data-name="inline13" data-mobile="1,1|2,2|300,250|fluid" data-desktop="1,1|2,2|300,250|fluid"></div>
      </div>
    </div>
    <!-- Start recipe two -->
    <div data-image-src="https://media.guim.co.uk/f9451d4a3505bea042cb9665dd8d0823801ac2da/416_0_1050_1312/1050.jpg" class="recipe__article--structured" itemscope itemtype="http://schema.org/Recipe">
      <div class="recipe__article--structured-image mobile-only">
        <img class="recipe__image--structured" data-src="https://media.guim.co.uk/f9451d4a3505bea042cb9665dd8d0823801ac2da/0_92_1881_1129/1000.jpg" src="">
      </div>
      <div class="recipe__article--structured-headline">
        <h1 itemprop="name">Goat’s milk and rosemary jelly with poached rhubarb</h1>
      </div>
      <div class="recipe__article--structured-meta">
        <div class="structured-meta">
          <span class="meta-circle meta-serves">12</span>serves<span class="meta-circle meta-time">3.5</span>hours
        </div>
      </div>
      <div class="recipe__article--structured-ingredients">
        <ul class="ingredients-list">
          <li class="ingredients-title">Ingredients</li>
          <li itemprop="recipeIngredient">6 sprigs rosemary, leaves picked and roughly chopped</li>
          <li itemprop="recipeIngredient">1 litre whole goat’s milk</li>
          <li itemprop="recipeIngredient">200g caster sugar</li>
          <li itemprop="recipeIngredient">½ tsp vanilla extract</li>
          <li itemprop="recipeIngredient">12 leaves gelatin</li>
        </ul>
        <ul class="ingredients-list">
          <li class="ingredients-title">For the pickle</li>
          <li>4 tbsp water</li>
          <li>125g caster sugar</li>
          <li>The juice and zest of 1 orange</li>
          <li>1 star anise</li>
          <li>1 tbsp Pernod (or other anise; optional)</li>
          <li>450g rhubarb, washed and cut into 4cm lengths</li>
        </ul>
      </div>
      <div class="recipe__article--structured-method">
        <ul class="method-list">
          <li><span class="number">1</span>Put the rosemary, milk, sugar and vanilla in a pan, bring to a boil and simmer gently for five minutes. Remove from the heat and leave to infuse for 20 minutes. Meanwhile, soften the gelatin leaves in cold water (according to the packet instructions).</li>
          <li><span class="number">2</span>Pass the infused milk through a sieve into a jug and discard the rosemary. Pour 100ml of the milk back into the pan, gently warm up and, when it’s hot but not boiling, take the pan off the heat. Drain the gelatin, squeezing out the excess water, and stir into the warm milk, until it has dissolved. Pour the mixture back into the jug with the rest of the milk, then pour into the ramekins or glasses. Refrigerate for two to three hours, until set.</li>
          <li><span class="number">3</span>While the jelly is setting, poach the rhubarb. In a pan large enough to hold the rhubarb in a single layer, heat the water, sugar, orange, anise and liqueur (if using) until the sugar dissolves, then add the stalks. Cover, simmer for five to eight minutes, until the rhubarb feels just tender to the tip of a knife (it will keep cooking off the heat), then set aside to cool.</li>
          <li><span class="number">4</span>If you’ve made the jelly in ramekins, when you’re ready to eat, fill a bowl with hot water and carefully submerge the base of each ramekin, holding it in the hot water for three-second intervals and giving it a gentle shake, until you see the jelly coming away from the sides, then use a palette knife to help loosen the sides. Put a plate on top of each ramekin and up-end to turn out. Serve at once with the cooled rhubarb and its syrup spooned around. Otherwise, serve the jelly in glasses with a layer of the vivid pink rhubarb on top.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="recipe__article--next-recipe">
    <div class="recipe__article--next-button"><svg viewBox="1446 1543 48 51" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon id="" stroke="none" fill="#333333" fill-rule="evenodd" transform="translate(1469.778502, 1568.000000) rotate(90.000000) translate(-1469.778502, -1568.000000) " points="1444.7785 1570.17155 1486.30945 1570.17155 1470.0228 1589.66124 1472.14007 1591.7785 1494.7785 1569.08578 1494.7785 1566.91422 1472.14007 1544.2215 1470.0228 1546.33876 1486.30945 1565.82845 1444.7785 1565.82845"></polygon></svg></div>
    <div class="recipe__article--next-text">
      <h2><span class="kicker">Next recipe </span> <span class="recipe__article--next-title">Roast molasses pork belly with warm rhubarb pickle</span></h2>
    </div>
  </div>
  <div class="recipe__article--onward">
    <div class="recipe__article--onward-title">
      <h2>More from</h2>
      <h1>Thomasina Miers</h1>
    </div>
    <div class="recipe__article--onward-card large">
      <img src="https://media.guim.co.uk/5c9205b951fd3829260b68f5f58101656928fd5a/0_702_1881_1128/1000.jpg">
      <h1>The weekend cook: Thomasina Miers’ parsnip risotto and blood orange cake recipes</h1>
    </div>
    <div class="recipe__article--onward-card small">
      <img src="https://media.guim.co.uk/7f0880e69840db5bbdd027ee02d758a6bc9feb57/0_93_2405_1443/1000.jpg">
      <h1>The weekend cook: Thomasina Miers’ recipes for plaice with potatoes, and chargrilled hispi cabbage</h1>
    </div>
    <div class="recipe__article--onward-card small">
      <img src="https://media.guim.co.uk/e97645cf37b3c3a12631284cd578effdc5ca4085/0_1194_1881_1128/1000.jpg">
      <h1>The weekend cook: Thomasina Miers’ recipes for curried dal and winter drop scones</h1>
    </div>
  </div>
  <div class="recipe__article--onward-more">
    <div class="circle-button"><span class="circle"><svg width="30px" height="31px" viewBox="38 2137 30 31" version="1.1"><polygon stroke="none" fill="#333333" points="51.3635908 2154.36367 51.9431342 2167.72726 54.0226726 2167.72726 54.6363069 2154.36367 67.9998976 2153.75004 67.9998976 2151.6705 54.6363069 2151.09096 54.0226726 2137.72737 51.9431342 2137.72737 51.3635908 2151.09096 38 2151.6705 38 2153.75004"></polygon></svg></span>Explore more</div>
  </div>
</div>
